/* Grid Layout designed with:
https://grid.layoutit.com/
*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {  
  display: grid;
  height: 100vh;
  margin: 0;
  grid-template-columns: 0.3fr 1.6fr;
  grid-template-rows: 4vh 1fr 4vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
}




.header { 
	grid-area: header;
	background-color: #ff0000;

 }

.footer { 
	grid-area: footer;
	background-color: #0000ff;
 }

.nav { 
	grid-area: nav; 
	background-color: #3cb371;
}

.content { 
	grid-area: content; 
	background-color: #6a5acd;
}

/* searchbar 
https://www.w3schools.com/howto/howto_css_searchbar.asp
*/


/* settings for searchbar (div) */
.searchbar {
  text-align: center;
  
}

/* setting for specific searchbar with textinput */
.searchbar input[type="text"] {
  width: 65%; /* Beispiel: Breite des Suchfeldes anpassen */
  height: 10px;
  margin-top: 3px;
  margin-bottom: 2px;
  padding: 14px; /* Beispiel: Innenabstand des Suchfeldes anpassen */
  border: 1px solid #00eeff; /* Beispiel: Rahmen des Suchfeldes anpassen */
  border-radius: 5px; /* Beispiel: Ecken des Suchfeldes abrunden */
  font-size: 16px; /* Beispiel: Schriftgröße anpassen */
}
